@use 'src/styles/theme' as *;

* {
    color: var(--clip-background-shader-stronger);
}


.composer-v-spacer-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    p {
        position: absolute;
        transform: translate(24px, 0px);
    }

    .v-spacer {
        width: 2px;
        height: 90%;
        background-color: var(--clip-background-shader-stronger);
    }
}

.composer-h-spacer-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    p {
        position: absolute;
        transform: translate(0px, -12px);
    }

    .h-spacer {
        height: 2px;
        width: 90%;
        background-color: var(--clip-background-shader-stronger);
    }
}