:host {
    resize: both;
}

.clip-widget-flex-box {
    resize: both;
    height: 100%;
    width: 100%;

    .clip-widget-flex-box__inner {
        display: flex;
        height: 100%;
        width: 100%;

        .subFlexBox {
            height: 100%;
            width: 100%;
        }
    }
}

.composer {
    background: #579aff29;
}