<div class="clip-widget-flex-box" [ClipWidgetRoot]="this" *ngIf="this.widgetNode">
    <div
        class="clip-widget-flex-box__inner"
        [ngStyle]="{
            'justify-content': this.getProperty('justify-content') ?? 'center',
            'align-items': this.getProperty('align-items') ?? 'center',
            'flex-direction': this.getProperty('flex-direction') ?? 'row',
        }"
        [ngClass]="{
            'composer': composerMode
        }">
        <ng-template #container></ng-template>
    </div>
</div>