<div class="clip-widget-flex-box" [ClipWidgetRoot]="this" *ngIf="this.widgetNode">
    <div
        class="clip-widget-flex-box__inner"
        [ngStyle]="{
            'justify-content': this.widgetNode.values?.justifyContent ?? 'center',
            'align-items': this.widgetNode.values?.alignItems ?? 'center',
            'flex-direction': this.widgetNode.values?.flexDirection ?? 'row',
        }"
        [ngClass]="{
            'composer': composerMode
        }">
        <ng-template #container></ng-template>
    </div>
</div>