@use 'src/styles/theme' as *;

:host {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}


.dashboard-viewer {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
}

.dashboard-workgrids {
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    width: 100%;
    position: absolute;
}

.dashboard-workgrids-cell {
    border: 1px solid var(--clip-background-shader-lighter);
}