@use 'theme' as *;

:host {
    width: fit-content;
}

$ICON_WIDTH: 24px;
$ICON_PADDING: 8px;

#flat-input {
    position: relative;
    border-radius: 8px;

    .placeholder {
        position: absolute;
        top: 50%;
        font-family: roboto;
        font-size: 17px;
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: nowrap;
        padding: 2px 8px;
        border-radius: 100px;
        animation-duration: 200ms;
        animation: 280ms cubic-bezier(0.18, 0.89, 0.32, 1);
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            padding: 0 10px 0 10px;
            height: 50px;
            text-decoration: none;
            outline: none;
            font-size: 20px;
            background: transparent;
            border: none;
            color: var(--clip-main-ui-text-color);
            font-size: 16px;
            font-family: roboto;
        }

        .left-icon {
            padding-left: $ICON_PADDING;
        }

        .right-icon {
            padding-right: $ICON_PADDING + 3px;
        }

        // m3-icon {
        //     width: $ICON_WIDTH;
        //     height: $ICON_WIDTH;
        //     pointer-events: none;
        // }
    }

}

#hint {
    padding-left: 10px;
    font-family: roboto;
    font-size: 12px;
    transform: translate(0, -50%);
    pointer-events: none;
}

.width-auto {
    width: auto;
}

.width-fixed {
    width: 300px;
}

.width-wide {
    width: 100%;
}

.style-search {
    border-radius: 100px !important;
    padding-right: 15px !important;

    #main-content {
        height: 40px;
    }

    width: auto;
    max-width: 35vw;

    #placeholder {
        left: 25px !important;
    }

    input {
        margin-left: 15px;
    }
}
