<div id="flat-input" [ngStyle]="{
    'border': colored ? '2px solid ' + color : '1px solid var(--clip-background-shader-stronger)',
    'padding': colored ? '0px ' : '1px',
    'margin-bottom': hint ? '10px' : '0px',
}" [ngClass]="{
    'style-search': inputStyle == 'search',
    'style-round': inputStyle == 'round'
}">
    <div class="main-content">
        <m3-icon
            *ngIf="leftIcon"
            class="left-icon"
            [weight]="600"
            [style.color]="colored ? color : 'var(--clip-background-shader-stronger)'"
        >{{leftIcon}}</m3-icon>
        <input [readonly]="readonly" [type]="Type" [(ngModel)]="text" (focus)="onFocus($event)" [ngStyle]="{
            'width': 'calc(100% - ' + getInputWidth() + 'px)'
        }" (focusout)="onFocusOut($event)" (ngModelChange)="emitTextChange(text)" />
        <m3-icon *ngIf="icon" class="right-icon" [style.color]="colored ? color : 'var(--clip-background-shader-stronger)'">{{icon}}</m3-icon>
    </div>
    <label [@placeholderAnimated]="placeholderAnimated ? 'moved' : 'static'" *ngIf="placeholder && inputStyle != 'search'"
        class="placeholder" [ngStyle]="{
            'left': leftIcon ? '40px' : '16px',
            'color': getPlaceholderColor(),
            'background': getPlaceholderBackground()
        }">
        {{placeholder}}
    </label>
</div>
<label id="hint" *ngIf="hint" [ngStyle]="{
'color': colored ? color : 'var(--clip-background-shader-stronger)'
}">{{hint}}</label>