<div class="clip-dashboard-main">
  <div class="clip-dashboard-main-header">
    <h1>All Dashboards</h1>
    <button mat-fab>
      <mat-icon fontSet="material-symbols-outlined">create</mat-icon>
      Create
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by actions">Actions</th>
      <td mat-cell *matCellDef="let element">
        <a mat-fab color="primary" routerLink="'/dashboards/view/' + element.id">
          <mat-icon fontSet="material-symbols-outlined">link</mat-icon>
          Open
        </a>
        <button mat-fab matTooltip="Link" routerLink="'/dashboards/composer/' + element.id" aria-label="Edit">
          <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
          Edit
        </button>
        <button mat-fab disabled aria-label="Example fab with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
