:host {
  width: 100%;
  height: 100%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  mat-icon {
    margin: 0 0.5rem;
    color: var(--clip-main-ui-text-color);
  }

  a {
    color: var(--clip-main-ui-text-color);
    font-weight: 600;
  }
}
