@use 'src/styles/theme' as *;

#dashboard-composer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: var(--clip-background-color);

    .dashboard-composer-board {
        height: 100%;
        width: calc(100% - 400px);
        z-index: 0;
        background-color: var(--clip-background-layer-color);
        border-radius: $clip-shell-rounding;
    }

    .dashboard-composer-spacer {
        margin-left: $clip-shell-margin;
    }

    .dashboard-composer-widgets {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clip-background-layer-color);
        border-radius: $clip-shell-rounding;
        width: 400px;
        height: 100%;

        $MARGIN: 24px;

        .dashboard-composer-widgets-defaults {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            gap: $MARGIN;

            .dashboard-composer-widgets-defaults__inner {
                width: calc(100%);
                display: flex;
                gap: $MARGIN;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        h3 {
            width: calc(100% - $MARGIN * 2);
            font-family: Roboto;
            font-weight: 400;
            font-size: 1.7em;
            color: var(--clip-main-ui-text-color);
            margin: $MARGIN;
        }

        mat-tab-group {
            width: 100%;
            height: 100%;

        }

        .dashboard-composer-widgets-current {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            margin: $MARGIN;
            width: calc(100% - calc($MARGIN * 2));

            .dashboard-composer-widgets-current-value {
                width: 100%;
                margin-bottom: $MARGIN;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    color: var(--clip-main-ui-text-color);
                }
            }
        }

        .dashboard-composer-widgets-all {
            $GAP: 16px;
            display: flex;
            gap: $GAP;
            flex-direction: column;
            margin-top: $GAP;

            .widget {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: var(--clip-background-shader-lighter);
                color: var(--clip-main-ui-text-color);
                min-height: 60px;
                border-radius: 16px;
            }
        }
    }
}