@use '../tokens' as *;

[data-theme="clip-dark"] {
    --clip-background-color: #0a0a0a;
    --clip-background-color-light: #1d1d1d;
    --clip-background-layer-color: #0c0c0c;

    --clip-main-ui-text-color: #{$clip-light-primary-text};
    --clip-main-ui-text-color-light: #a5a4a4;

    --clip-background-shader: #ffffff1f;
    --clip-background-shader-lighter: #ffffff0a;
    --clip-background-shader-stronger: #ffffff4d;
}
