@use '../tokens' as *;

[data-theme='clip-light'] {
  --clip-background-color: #e9ffef;

  --clip-main-ui-text-color: #{$clip-dark-primary-text};
  --clip-main-ui-text-color-light: #3b3b3b;

  --clip-background-shader: #0000001f;
  --clip-background-shader-lighter: #00000011;
  --clip-background-shader-stronger: #0000007e;
}
