<div class="clip-widgets-tree" cdkDropList
     (cdkDropListDropped)="drop($event)">
    <div *ngFor="let node of flatList; let i = index" class="clip-widgets-tree-node" cdkDrag
    (cdkDragStarted)="dragStart($event, i)">
        <div
            *ngIf="node.show"
            class="clip-widgets-tree-inner" (click)="onNodeClick(node)"
            [style.margin-left.px]="(node.level!) * 20">
            <div class="clip-widgets-tree-expander"
                 *ngIf="(node.subComponents?.length ?? 0) > 0">
                <m3-icon>arrow_drop_down</m3-icon>
            </div>
            <div class="clip-widgets-tree-widget">
                {{node.className}}
            </div>
        </div>
    </div>
</div>