.mat-display-large,
.mat-headline-large,
.mat-title-large,
.mat-body-large {
  margin-bottom: 1rem;
}

.mat-body-large {
  margin-top: 0.5rem;
}

.mat-display-large, .mat-headline-large, .mat-title-large, .mat-body-large {
    margin-bottom: 1rem;
  }
  
  .mat-body-large {
    margin-top: 0.5rem;
  }
  