$huge-header-font-size: 3.67rem;
$large-header-font-size: 2.75rem;
$medium-header-font-size: 2.2rem;
$normal-header-font-size: 1.5rem;
$normal-title-font-size: 1.25rem;
$tiny-title-font-size: 1rem;
$font-variation-settings: (
  "wght" 500,
  "wdth" 100,
  "opsz" 50,
  "GRAD" 0,
  "slnt" 0,
  "XTRA" 500,
  "YTLC" 500,
  "YOPQ" 80,
  "YTAS" 750,
  "YTDE" -230,
  "YTLC" 500,
  "XOPQ" 92
);