<h1>h1 Create a Clip user</h1>
<h2>h2 Type in your credentials for the first time</h2>
<h3>h3 Lorem, ipsum dolor sit amet consectetur</h3>
<h4>h4 Sotto sottissimo pazzesco</h4>
<h5>h5 ebbene si</h5>
<h6>h6 odio sit ipsa non voluptatem ipsam modi veritatis</h6>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptas laboriosam, tenetur ea <br />perspiciatis officia sit ipsa aperiam veritatis dolorem tempora quam totam nisi minima optio obcaecati dolore fugit excepturi.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium tempora beatae magnam aperiam <br />quas tempore eligendi ipsam, sed, distinctio earum veritatis cupiditate dolorem hic obcaecati optio. Laudantium itaque iste cupiditate.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam obcaecati illo consequatur nesciunt officiis.<br /> Doloremque laboriosam harum, laborum, pariatur accusantium libero, quam sapiente maxime vel ab mollitia aut reiciendis quo!
</p>

<mat-slide-toggle>Slide me!</mat-slide-toggle>
<mat-slide-toggle labelPosition="before">...and slide me too!</mat-slide-toggle>

<mat-form-field class="example-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [(ngModel)]="value" />
  @if (value) {
  <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
    <mat-icon class="material-symbols-rounded">close</mat-icon>
  </button>
  }
</mat-form-field>
<mat-form-field>
  <input matInput type="text" [(ngModel)]="value" />
</mat-form-field>
<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
    <mat-icon fontSet="material-symbols-outlined">breastfeeding</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon fontSet="material-symbols-filled">breastfeeding</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Accent" color="accent" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <div matTooltip="Disabled" class="example-disabled">
    <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <a mat-icon-button matTooltip="Link" routerLink="." aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </a>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-fab matTooltip="Accent" color="accent" aria-label="Example fab with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <div matTooltip="Disabled" class="example-disabled">
    <button mat-fab disabled aria-label="Example fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <a mat-fab matTooltip="Link" routerLink="." aria-label="Example fab with a heart icon">
    <mat-icon>favorite</mat-icon>
  </a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
  <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
    <mat-icon class="material-symbols-sharp" style="font-variation-settings: 'FILL' 1">home</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Accent" color="accent" aria-label="Example mini fab with a heart icon">
    <mat-icon class="material-symbols-rounded" style="font-variation-settings: 'FILL' 0">pending_actions</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example mini fab with a heart icon">
    <mat-icon class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1"> pending_actions </mat-icon>
  </button>
  <div matTooltip="Disabled" class="example-disabled">
    <button mat-mini-fab disabled aria-label="Example mini fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
    <mat-icon>favorite</mat-icon>
  </a>
</div>

<h3>Extended Fab</h3>
<div class="example-button-row">
  <button mat-fab extended color="primary">
    <mat-icon>home</mat-icon>
    Primary
  </button>
  <button mat-fab extended color="accent">
    <mat-icon class="material-symbols-outlined">home</mat-icon>
    Accent
  </button>
  <button mat-fab extended color="warn">
    <mat-icon class="material-symbols-rounded">home</mat-icon>
    Warn
  </button>
  <button mat-fab extended disabled>
    <mat-icon>favorite</mat-icon>
    Disabled
  </button>
  <a mat-fab extended routerLink=".">
    <mat-icon>favorite</mat-icon>
    Link
  </a>
</div>
