:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    mat-card {
        padding: 16px;
        mat-card-title {
            margin-bottom: 16px;
            font-size: 2em;
        }
        form {
            mat-form-field {
                width: 270px;
            }
           margin: auto;
           padding: 36px 8px;
        }
        .login-button {
            margin-left: auto;
        }
    }
}