<float-background style="position: absolute; top: 0; left: 0"></float-background>
<div class="register">
  <h1 style="font-size: 3em">Login to <b>Clip</b></h1>
  <div class="register-form">
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <mat-card>
        <mat-card-header>
          <!-- <mat-card-title>Create a Clip account</mat-card-title> -->
          <mat-card-subtitle>Type in your credentials</mat-card-subtitle>
        </mat-card-header>
        <div class="form">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" />
            <mat-error *ngIf="loginFormGroup.controls.username.hasError('required')">
              <strong>Username</strong> is required
            </mat-error>
          </mat-form-field>
          <br />
          <div style="margin-left: 16px"></div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
              <strong>Password</strong> is required
            </mat-error>
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button class="login-button" type="submit" [disabled]="!loginFormGroup.valid" mat-fab extended color="primary">
            <mat-icon class="material-symbols-rounded">login</mat-icon>
            Login
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
    <button mat-button color="accent" (click)="goToRegister()">Create an account</button>
  </div>
  <button mat-button matTooltip="Switch theme" class="theme-switcher" (click)="themeService.switchDarkLight()">
    @if (themeService.currentTheme == Theme.Light) {
      <mat-icon class="material-symbols-rounded">nights_stay</mat-icon>
    }
    @if (themeService.currentTheme == Theme.Dark) {
      <mat-icon class="material-symbols-rounded">sunny</mat-icon>
    }
    Switch theme
  </button>
</div>