@use 'tokens' as tokens;

:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  height: 100%;

  .top-right-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  float-background {
    z-index: 1;
  }

  .register {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: tokens.$clip-shell-margin * 3;
    }

    .form-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    form {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .form-buttons {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
      }

      mat-card {
        padding-top: tokens.$clip-shell-margin * 2;
        padding-left: tokens.$clip-shell-margin;
        padding-right: tokens.$clip-shell-margin;
        padding-bottom: tokens.$clip-shell-margin;

        .mat-form-field-couple {
          display: flex;
          flex-direction: row;

          mat-form-field {
            flex-direction: column;
          }
        }
        .login-button {
          margin-left: auto;
        }
      }
    }
  }
}
