<button
  class="m3-button"
  matRipple
  [matRippleColor]="'var(--clip-background-shader)'"
  [ngClass]="{
    thin: Type == 'thin',
    fab: Type == 'fab',
    'sidenav-left': Type == 'sidenav-left',
  }"
>
  <div class="m3-button__inner">
    <div class="m3-icon" [@marginLeft]="HasText()" *ngIf="Icon != null">
      <m3-icon [filled]="iconFilled" @ShowText [weight]="600">{{ Icon }}</m3-icon>
    </div>
    <div class="text" *ngIf="HasText()" @ShowText>{{ Text }}</div>
    <span *ngIf="HasText()" style="width: 31px"></span>
  </div>
</button>
