@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use 'styles/fonts' as fonts;
@use 'styles/theme' as theme;

$material-symbols-font-path: 'material-symbols/';
@import 'material-symbols';

@include mat.core();

$primary-palette: matx.$m3-cyan-palette;
$tertiary-palette: matx.$m3-azure-palette;

@function create-theme($primary, $tertiary, $type: light, $density: 0) {
  @return matx.define-theme((
    color: (
      theme-type: $type,
      primary: $primary,
      tertiary: $tertiary,
    ),
    density: (
      scale: $density
    ),
  ));
}

[data-theme="clip-dark"] {
  $clip-dark-theme: create-theme($primary-palette, $tertiary-palette, $type: dark, $density: -1);
  @include mat.all-component-themes($clip-dark-theme);
  @include matx.color-variants-back-compat($clip-dark-theme);
}

[data-theme="clip-light"] {
  $clip-light-theme: create-theme($primary-palette, $tertiary-palette, $type: light, $density: -1);
  @include mat.all-component-themes($clip-light-theme);
  @include matx.color-variants-back-compat($clip-light-theme);
}

.mat-mdc-card-title {
  // ISSUE: mat-card-title is always black???
  color: var(--clip-main-ui-text-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

html,
body {
  height: 100%;
  background-color: var(--clip-background-color);
  margin: 0;
}
