<div class="m3-dropdown">
    <m3-input #m3Input
        [left-icon]="icon"
        [icon]="dropdownOpened ? 'arrow_drop_up' : 'arrow_drop_down'"
        [readonly]="true"
        [placeholder]="placeholder"
        [hint]="hint"
        [text]="choice"
        [type]="Type"
        [width]="width"
        [input-style]="inputStyle"
        (click)="onInputClick($event)">
    </m3-input>
    <div class="m3-dropdown-choices-list">
        <ng-container *ngIf="dropdownOpened">
            <div class="m3-dropdown-choice" *ngFor="let choice of choices" matRipple (click)="onNewChoiceClick(choice)">
                {{choice}}
            </div>
        </ng-container>
    </div>
</div>