@use 'src/styles/theme' as *;

* {
    color: var(--clip-main-ui-text-color);
}

.m3-dropdown {
    position: relative;

    m3-input {
        cursor: pointer;
        * {
            cursor: pointer;
        }
    }

    .m3-dropdown-choices-list {
        background-color: var(--clip-background-color-light);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        z-index: 3;
        border-radius: 4px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3),
            1px 1px 4px 0px rgba(0, 0, 0, 0.15);

        .m3-dropdown-choice {
            width: calc(100% - 16px);
            padding: 16px 0 16px 16px;
            cursor: pointer;
            transition: cubic-bezier(0.2, 0.0, 0, 1.0) 150ms;

            &:hover {
                background-color: color-mix(in srgb, var(--clip-background-color) 90%, white);;
            }
        }
    }

}