<a #buttonLink [routerLink]="this.redirect">
    <button class="m3-button" matRipple
            [matRippleColor]="'var(--clip-background-shader)'"
            [ngStyle]="{
                'background-color': BackgroundColor,
                'color': getContrast(BackgroundColor),
            }"
            [ngClass]="{
                'elevation-1': Elevation == 1,
                'round': Type == 'round',
                'fab': Type == 'fab',
                'thin': Type == 'thin',
                'sidenav-left': Type == 'sidenav-left',
                'transparent': Style == 'transparent',
                'primary': Style == 'primary',
                'accent': Style == 'accent',
                'wide': Wide,
                'margin': Margin,
            }">
        <div class="m3-button__inner" [ngStyle]="{
            'justify-content': Wide && HasText() ? 'space-between' : 'center'
        }">
            <div class="m3-icon" *ngIf="Icon != null" [ngStyle]="{ 'margin-right': HasText() ? '5px' : '0' }">
                <m3-icon [filled]="iconFilled" [weight]="iconWeight">{{Icon}}</m3-icon>
            </div>
            <div class="text" *ngIf="HasText()" @ShowText>{{Text}}</div>
            <span *ngIf="Wide && HasText()" style="width: 31px;"></span>
        </div>
    </button>
</a>
